@model IEnumerable<WebApp_Bank_App.Models.Customer_Tb>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @using (Html.BeginForm("Index", "Customer_Tb", FormMethod.Get))
    {
        <b>Search by:</b>
        @Html.RadioButton("SearchBy", "Name", true) <text> Name</text>
        @Html.RadioButton("SearchBy", "Acc_number") <text> Acc_number</text>
        <br />
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<table class="table">
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="7">No Rows match search Criteria</td>
        </tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Acc_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th></th>
        </tr>




        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Acc_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
              
            </tr>
        }
    }


</table>

<p>
    @Html.ActionLink("Create New Customer", "Create")
</p>